<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
    	<link rel="stylesheet" type="text/css" href="../css/style.css" />
    	
    	<script src="../js/vue.js"></script>
	</head>

	<body>
		<div class="mui-center">
			
			<header class="mui-bar mui-bar-nav grzx_nav">
		        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		        <h1 class="mui-title">订单详情</h1>
		    </header>
		    <div class="order_details" id="orderDetails" style="display: none;">
		    	<ul class="order_details_status">
	 
		    		<li v-if="status=='7'">
		    			订单状态：
		    			<span class="blue" v-if="status=='7' ? true : false">退款中</span>
		    		</li>
		    		<li v-else-if="status=='8'">
		    			订单状态：
		    			<span class="blue" v-else-is="status=='8' ? true : false">已退款</span>
		    		</li>
		    		<li v-else>
		    			订单状态：
		    			<span class="blue" v-if="orderStatus=='2' ? false : true">待支付</span>
		    			<span class="blue" v-if="orderStatus=='2' ? true : false">已支付</span>
		    		</li>
		    		
		    		<li>
		    			订单编号：{{ orderBianhao }}
		    		</li>
		    		
		    		<li>
		    			下单时间：{{ xiadanTime }}
		    		</li>
		    		
		    		<li v-if="orderStatus=='2' ? true : false">
		    			支付时间：{{ payTime }}
		    		</li>
		    		
		    		<li v-if="orderStatus=='2' && express_status=='2' ">
		    			快递状态：已发货
		    		</li>
		    		
		    		<li v-if="orderStatus=='2' && express_status=='1' ">
		    			快递状态：待发货
		    		</li>
		    		
		    		<li v-if="orderStatus=='2' && express_status=='2' ">
		    			快递名称：{{ express_name }}
		    		</li>
		    		
		    		<li v-if="orderStatus=='2' && express_status=='2' ">
		    			快递单号：{{ express_no }}
		    		</li>
		    		
		    	</ul>
		    	
		    	<div class="order_details_address" v-if="groupId=='1' ? true : false">
	            	<div class="top clearfix">
	                    <p class="name">{{ name }}</p>
	                    <p class="phone">{{ tel }}</p>
	                </div>
	                <div class="address">{{ address }}</div>
		        </div>
		    	
		    	<div class="buy_goods_goods order_details_goods m-t10">
		            <div class="single" v-for="item in items">
		            	<div class="main">
			                <div class="goods_img">
			                    <img :src="item.imgurl" alt="">
			                </div>
			                <div class="goods_info">
			                    <p class="name">{{ item.name }}</p>
			                    <p class="guige">{{ item.guige }}</p>
								<div class="money_num">
									<p class="money">¥{{ item.money }}</p>
									<p class="num">×{{ item.num }}</p>
								</div>
			                </div>
		                </div>
		            </div>
		        </div>
		    	
		    	<ul class="order_details_cost">
		    		<li v-if="groupId=='1' ? true : false">
		    			<div class="fl">
		    				商品总价
		    			</div>
		    			<div class="fr">
		    				￥{{ goodsTotalPrice }}
		    			</div>
		    		</li>
		    		<li v-if="groupId=='1' ? true : false">
		    			<div class="fl">
		    				运费
		    			</div>
		    			<div class="fr">
		    				￥{{ freight }}
		    			</div>
		    		</li>
		    		<li v-if="groupId=='1' ? true : false">
		    			<div class="fl">
		    				优惠
		    			</div>
		    			<div class="fr">
		    				￥{{ preferential }}
		    			</div>
		    		</li>
		    		<li>
		    			<div class="fl">
		    				使用积分
		    			</div>
		    			<div class="fr">
		    				{{ preferential }}
		    			</div>
		    		</li>
		    		<li>
		    			<div class="fl">
		    				订单总价
		    			</div>
		    			<div class="fr">
		    				￥{{ orderTotalPrice }}
		    			</div>
		    		</li>
		    	</ul>
		    	
		    	<div class="need_pay m-b10 clearfix">
		    		<div class="fl" v-if="orderStatus=='2' ? false : true">
		    			需付款
		    		</div>
		    		<div class="fl" v-if="orderStatus=='2' ? true : false">
		    			实付款
		    		</div>
		    		<div class="fr">
		    			￥{{ needPay }}
		    		</div>
		    	</div>
		    	
		    	<div class="method_payment m-b10" v-if="orderStatus=='2' ? false : true">
		    		<div class="title" id="get_pay_style">
		    			选择支付方式
		    		</div>
		    		<!--<div class="mui-input-row mui-radio">
		    		    <label><span class="mui-icon mui-icon-weixin"></span>微信付款</label>
		    		    <input name="radio" type="radio" checked>
		    		</div>
		    		<div class="mui-input-row mui-radio">
		    		    <label><span class="mui-icon iconfont icon-zhifubao"></span>支付宝付款</label>
		    		    <input name="radio" type="radio">
		    		</div>-->
		    	</div>
		    	
		    	<div class="not_paying_btn clearfix" v-if="orderStatus=='2' || status=='7' || status=='8' ? false : true">
		    		<a class="btn1" href="javascript:void(0);">取消订单</a>
		    		<a class="btn2" href="javascript:void(0);" onclick="sure_order_submit()">去付款</a>
		    	</div>
		    	
		    	<!--<div class="not_paying_btn clearfix" v-if='orderStatus=='2' || status!='7' || status!='8' ? true : false">
					<a class="btn1" href="javascript:void(0);">删除订单</a>				
	    			<a class="btn2" href="javascript:;" onclick="jsgopingjia()" >去评价</a>
		    	</div>-->
	
		    </div>
	    </div>


	    
		<script src="../js/mui.min.js"></script>
		<script src="../js/dui.js"></script>
		<script type="text/javascript">
			//group_id 1:产品组  2: 众筹 
			mui.init();
			var request_url =  localStorage.getItem('kfj_request_url');//请求地址
			var request_img_url = localStorage.getItem('kfj_img_url');//图片路径
			var ifa_login_id = localStorage.getItem('ifa_login_id');
			var user_id = localStorage.getItem('ifa_login_id');
			var order_no="";//订单编号
			var real_amount="";//实际支付
			var order_amount="";//订单金额
			//填充数据
			
			mui.plusReady(function () {
				var self = plus.webview.currentWebview();
				order_no=self.info_id;

				mui.post(request_url+'api/',{
					action: 'app_users_orders_info',
					order_no:order_no
				},function(data){
					console.log(JSON.stringify(data)); 
					if(data.msg=="1"){
						if(data.order_no.length>0){
							real_amount=data.real_amount;//实际支付
					        order_amount=data.order_amount;//订单金额
		
							var data_item={
								seen:true,
								show:true,
								orderStatus:data.payment_status,
								status:7,
								orderBianhao:order_no,
								xiadanTime:data.add_time,
								payTime:data.payment_time,
								name:data.accept_name,
								groupId:data.group_id,
								tel:" ",
								address:data.area+data.address,	
								items:[],
								goodsTotalPrice: Number(data.order_amount).toFixed(2),
								freight: Number(data.express_fee).toFixed(2),
								preferential:(Number(data.order_amount)-Number(data.real_amount)).toFixed(2),
								express_status:data.express_status,
								express_name:data.express_name,
								express_no:data.express_no,
								orderTotalPrice: (Number(data.order_amount)+Number(data.express_fee)).toFixed(2),
								needPay: (Number(data.real_amount)+Number(data.express_fee)).toFixed(2),
							}
							var _lenght = data.datalist.length;					
							for(var i = 0; i < _lenght; i++){
								var data_ = new Object();
								data_.imgurl = request_url+data.datalist[i].img_url;
								data_.name = data.datalist[i].goods_title;
								data_.guige = data.datalist[i].spec_text;
								data_.money = data.datalist[i].real_price;
								data_.num = data.datalist[i].quantity;
								data_item.items.push(data_);
							}
							vue_data(data_item)
							document.getElementById("orderDetails").style.display='block';
							
						}else{
							mui.openWindow({
						    	url: '../error/404.html',
						  	});
						}
					
					}else{
						mui.toast(data.msgbox);	
					}
				},'json'
				);
				get_pay_style();//获取支付方式
			});
			var pays = {};
			// 检测是否安装支付服务
			function checkServices(pc){
				if(!pc.serviceReady){
					var txt=null;
					switch(pc.id){
						case 'alipay':
						txt='检测到系统未安装“支付宝快捷支付服务”，无法完成支付操作，是否立即安装？';
						break;
						default:
						txt='系统未安装“'+pc.description+'”服务，无法完成支付，是否立即安装？';
						break;
					}
					plus.nativeUI.confirm(txt, function(e){
						if(e.index==0){
							pc.installService();
						}
					}, pc.description);
				}
			}
			//获取支付方式
			function get_pay_style(){
				mui.post(request_url+'api/',{
					action: 'app_pay_list',
				},function(data){
					if(data.msg=="1"){
						//为页面填充数据
						console.log(JSON.stringify(data));  
						datalist=data.datalist;			 
						var html="";
						for (var i=0;i<datalist.length;i++) {
							
							if(datalist[i].paykey=='alipay'){
								html+="<div class='mui-input-row mui-radio'>";
								html+="<label><span class='mui-icon iconfont icon-zhifubao'></span>"+datalist[i].title+"</label>";
								html+="<input name='radio' type='radio' checked value='"+datalist[i].id+"' data-paykey='"+datalist[i].paykey+"' >";
								html+="</div>";
							}else{
								html+="<div class='mui-input-row mui-radio'>";
								html+="<label><span class='mui-icon mui-icon-weixin'></span>"+datalist[i].title+"</label>";
								html+="<input name='radio' type='radio' value='"+datalist[i].id+"' data-paykey='"+datalist[i].paykey+"' >";
								html+="</div>";
							}
						}
						
						document.getElementById("get_pay_style").insertAdjacentHTML("afterEnd",html);
					}else{
						console.log(data.msgbox);
					}
				},'json'
				);
			}
			function vue_data(data_item){
				var orderDetails = new Vue({
    			    el: '#orderDetails',
					data:data_item,
				})
				
			}
			//确定去付款
			function sure_order_submit(){
				// 获取支付通道
				plus.payment.getChannels(function(channels){
					for(var i in channels){
						var channel=channels[i];
						if(channel.id=='qhpay'||channel.id=='qihoo'){	// 过滤掉不支持的支付通道：暂不支持360相关支付
							continue;
						}
						pays[channel.id]=channel;
						checkServices(channel);
					}
				},function(e){
					outLine('获取支付通道失败：'+e.message);
				});
				
				var payment_id=1;//支付方式
				var paykey="";//支付方式
				var radio=document.getElementsByName("radio");
				for(i=0;i<radio.length;i++){
					if(radio[i].checked){
						payment_id=radio[i].value;
						paykey=radio[i].getAttribute("data-paykey");
					}
				}
				if(payment_id=="0"||payment_id==null||payment_id==""){
					mui.toast("请选择支付方式");
					return;
				}
				
				var data_order={
					action: "app_users_pay",
					user_id: user_id,
					payment_id:payment_id,
					order_no:order_no,
				}
				
				if(user_id=="0"||user_id==null||user_id==""){
					mui.toast("订单支付错误");
					return;
				}
				
				mui.post(request_url + 'api/', data_order, function(data) {
					
					if(data.msg == "1") {
						
						var order = data.paystring;
						if(paykey=="wxpay"){
							//alipay:支付宝，wxpay:微信
							order=htmldecode(order);

						}
						plus.payment.request(pays[paykey], order, function(result) {
							mui.toast("支付失败，即将跳转到支付成功页面")
						}, function(e) {
							mui.toast("支付失败，即将跳转到待支付列表")
						});

					} else {
						mui.toast(JSON.stringify(data));
					}
				}, 'json')						
			}
			
			function htmldecode(s){
			    var div = document.createElement('div');
			    div.innerHTML = s;
			    return div.innerText || div.textContent;
			}
			
			function jsgopingjia(){
				
				mui.openWindow({
				    url: '../users/evaluate_list.html', 
				});
			}
			
			/*var orderDetails = new Vue({
			    el: '#orderDetails',
			    data: {

		        	orderStatus: '未支付',
		        	orderBianhao: '493449034903',
		        	xiadanTime: '2018-07-02 14:09:25',
		        	name: '大漠孤烟',
		        	tel: '18713518123',
		        	address: '北京市西城区德外黄寺大街24号院明湖大厦A312室院明湖大厦A312室',
		        	
					items: [
		        		{
		        			imgurl: '../images/useless8.jpg',
				            name: '7*15CM台历定制',
				            guige: '颜色：生命色 大小：2L 颜色：银色 大小：2L 颜色：银色 大小：2L',
				            money: '127',
				            num: '2'
		        		},
		        		{
		        			imgurl: '../images/useless10.jpg',
				            name: '7*15CM台历定制',
				            guige: '颜色：生命色 大小：2L 颜色：银色',
				            money: '97',
				            num: '1'
		        		}
		        	],
					
					goodsTotalPrice: "586.00",
					freight: '0.00',
					preferential: '50.00',
					orderTotalPrice: '536.00',
					needPay: '536.00',

			    }
			})*/

			
			
		</script>
	</body>

</html>