<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>商品详情</title>
    <script src="../js/mui.js"></script>
    <link rel="stylesheet" href="../css/mui.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/iconfont.css"/>
    
    <script src="../js/vue.js"></script>
</head>
<body>
	<div class="mui-center">
		<header class="mui-bar mui-bar-nav header_nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<ul class="mui-title shop_detail_title">
				<li class="on"><a href="#"><span class="mui-icon iconfont icon-weizhi"></span>商品</a></li>
				<li><a id="app-detail-info" href="javascript:;"><span class="mui-icon iconfont icon-weizhi"></span>详情</a></li>
				<li><a id="app-detail-pinglun" href="javascript:;"><span class="mui-icon iconfont icon-weizhi"></span>评价</a></li>
			</ul>
			<a id="share" class="mui-icon iconfont icon-fenxiang mui-pull-right"></a>
		</header>
		<div class="mui-content">
			<div class="mui-slider">
				<div class="mui-slider-group" id="js_img_datalist">
					<!--<div class="mui-slider-item"><a href="#"><img src="../images/banner1.jpg" /></a></div>
					<div class="mui-slider-item"><a href="#"><img src="../images/banner1.jpg" /></a></div>
					<div class="mui-slider-item"><a href="#"><img src="../images/banner1.jpg" /></a></div>
					<div class="mui-slider-item"><a href="#"><img src="../images/banner1.jpg" /></a></div>
					<div class="mui-slider-item"><a href="#"><img src="../images/banner1.jpg" /></a></div>-->
				</div>
			</div>
			<div class="shop_price clearfix">
				<div class="left">
					<div class="tips">
						价格
					</div>
					<div class="money">
						¥<span class="span1" id="money" ><!--248--></span> <!--<span>.00</span>-->
					</div>
				</div>
				<div id="app-detail-shouchan" class="right" numValue="2">
					<span class="icon_shoucang"></span>
			        <span class="mui-tab-label">加入收藏</span>
				</div>
			</div>
			
			<div class="shop_centent">
				<div class="shop_name" id="shop_name">
					<!--SUPOR/苏泊尔 CFXB40FC835-75球釜电饭锅球釜内胆4L大容量-->
				</div>
			    <div class="shop_name" id="shop_guige_select" style="display: none;">
					  
				</div>
<!--				<div class="shop_promotion">
					促销：<span>满3000减300</span>
				</div>-->
			</div>
	
			<div class="show_guige m-t10">
			    <a href="#goods_guige" id="app-select_">
			    	<!--<span class="">规格：</span> 选择颜色 、尺寸选择颜色 、尺寸选择颜色 、尺寸选择颜色 、尺寸 
			    	<span class="iconfont icon-enter"></span>-->
			    </a>
			</div>
	
			
			<div class="shop_detail_title1 m-t10">
				<span class="mui-icon iconfont icon-biaoqian"></span>
				<span>商品详情</span>
			</div>
			<div class="shop_detail_main" id="shop_detail_main">
				<!--<img src="../images/useless3.jpg" width="100%"/>
				<img src="../images/useless4.jpg" width="100%"/>-->
			</div>
		</div>
			
			
		<div class="zw1"></div>
		<nav class="mui-bar mui-bar-tab shop_detail_tab">
			<a id="app-detail-home" class="home mui-tab-item" href="javascript:;">
			    <span class="mui-icon iconfont icon-fangzi222"></span>
			    <span class="mui-tab-label">首页</span>  
			</a>
			<!--<a id="app-detail-car" class="car" href="javascript:;">加入购物车</a>-->
			<a id="app-detail-car" class="car" href="#goods_guige">加入购物车</a>
			<a id="app-detail-buy" class="buy" href="#goods_guige">立即购买</a>
		</nav>
			
		<div id="goods_guige" class="mui-popover mui-popover-action mui-popover-bottom">
			<div class="goods_guige">
				<div class="top clearfix">
					<div id="app-img-left" class="left">
						<img src="../images/useless13.jpg">
					</div>
					<div class="right">
						<p class="p1">¥<span id="app-sell_price"><!--248.00--></span></p>
						<p class="p2">库存<span id="app-quantity"><!--1342--></span></p>
						<p class="p3" id="app-select"><!--选择 <span>颜色</span> <span>尺寸</span>--></p>
					</div>
					<a class="close" href="#goods_guige">
						<span class="mui-icon mui-icon-close"></span>
					</a>
				</div>
				
				<div id="app-guige">
					<div class="guige_cell" v-for="guige in guiges">
						<div class="title">
							{{ guige.name }}
						</div>
						<ul class="ul1 mui-segmented-control clearfix">
							<li v-for="item in guige.items">
								<a class="mui-control-item" href="javascript:void(0);">{{ item }}</a>
							</li>	 
						</ul>
					</div>
				</div>
				
				<!--<div class="guige_cell">
					<div class="title">
						尺码：
					</div>
					<ul class="ul1 mui-segmented-control clearfix">
						<li><a class="mui-control-item" href="javascript:void(0);">S</a></li>
						<li><a class="mui-control-item" href="javascript:void(0);">M</a></li>
					</ul>
				</div>-->
				
				<div class="guige_num">
					<div class="title">
						购买数量：
					</div>
					<div id="app-numbox-min-max" class="numbox mui-numbox" data-numbox-step='1' data-numbox-min='1' data-numbox-max='99999'>
					    <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
					    <input id="app-number" class="mui-input-numbox" type="number" value="1"/>
					    <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
					</div>
				</div>
				
				<div class="btn_wrap">
					<a class="btn1" href="javascript:;" onclick="vue_js_bianlian()">确定</a>				
				</div>
				
			</div>
		</div>
		<input id="app-goods_id" type="hidden" value="0">
		
	</div>
	<script src="../js/dui.js"></script>
	<script>
		var request_url =  localStorage.getItem('kfj_request_url');//请求地址
		var request_img_url = localStorage.getItem('kfj_img_url');//图片路径
		var ifa_login_id = localStorage.getItem('ifa_login_id');
		var item_id = localStorage.getItem('item_id');	
		var user_id = localStorage.getItem('ifa_login_id');
		var js_bianlian="";
		var goods_id="0";//产品规格id
		var article_id="";//产品id
		var img_url="";//产品第一张图片
		var singular_status="";//是否可以立即购买，1 可以，2 不可以
		var change_status="";//判断跳转页面，1 购物车，2 订单
		vue_guige();
		mui.plusReady(function () {
            var self = plus.webview.currentWebview();
            article_id=self.info_id;   
            mui.post(request_url+'api/',{
				action: 'app_shop_info',
            	info_id:article_id
			},function(data){
				js_bianlian=data.guige_datadetails;				
				if(data.msg=="1"){	
					if(data.guige_datalist==""){
						singular_status=1;
					}else{
						singular_status=2;
					}
					document.getElementById("shop_name").innerText = data.title;//添加名称
					document.getElementById("money").innerText = data.sell_price;//添加价钱
					document.getElementById("app-quantity").innerText = data.quantity;//添加库存	
					document.getElementById("app-sell_price").innerText = data.sell_price;//添加价格
					document.getElementById("app-img-left").innerHTML = "<img src='"+request_img_url+data.img_datalist[0]+"'>";//添加图app-img-left
					img_url=data.img_datalist[0];
					html="选择 ";//添加选择
					html_="<span class=''>规格：</span>";
					
				
					var data_array=data.guige_datalist;
					for(var i=0;i<data_array.length;i++){
						html+="<span>"+data_array[i].gz_prent_title+" </span>";
						html_+=data_array[i].gz_prent_title+" ";
					}
					html_+="<span class='iconfont icon-enter'></span>";					 
					document.getElementById("app-select").innerHTML = html;
					document.getElementById("app-select_").innerHTML = html_;	
					html=""//添加规格
					for(var i=0;i<data_array.length;i++){
						html+="<div class='guige_cell'>";
						html+="<div class='title'>";
						html+=data_array[i].gz_prent_title;
						html+="</div>";
						html+="<ul class='ul1 mui-segmented-control clearfix'>";						 
						for(var j=0;j<data_array[i].guige_childlist.length;j++){
							html+="<li><a class='mui-control-item' href='javascript:void(0);' value='"+data_array[i].guige_childlist[j].gz_child_id+"'>"+data_array[i].guige_childlist[j].gz_child_title+"</a></li>";
						}					 
						html+="</ul>";
						html+="</div>";						 
					}
					document.getElementById("app-guige").innerHTML = html;	
					
					img_datalist_array=data.img_datalist;
					var image_html="";
					for (var i=0;i<img_datalist_array.length;i++) {
						if(img_datalist_array[i].length>0){
							image_html+="<div class='mui-slider-item'><a href='#'><img src='"+request_img_url+img_datalist_array[i]+"' /></a></div>";
						}else{
							image_html+="<div class='mui-slider-item'><a href='#'><img src='../images/banner1.jpg' /></a></div>";
						}
					}
					document.getElementById("js_img_datalist").innerHTML = image_html;//添加照片
					
					var content=data.content//添加商品详情
					content = content.replace('src="', 'src="'+request_img_url);
					document.getElementById("shop_detail_main").innerHTML=content;
					
				}else{
					console.log(data.msgbox);
				}
			},'json'
			);
			//添加浏览记录
			mui.post(request_url+'api/',{
				action: 'app_product_record_add',
				user_id:user_id,
            	item_id:self.info_id
			},function(data){
			    console.log(JSON.stringify(data)); 				 
			},'json'
			);
			//添加收藏点击事件
			document.getElementById("app-detail-shouchan").addEventListener("click",function(){
                    var numValue = document.getElementById("app-detail-shouchan").getAttribute('numValue');
                    var shouchan_data = {
							action: 'app_product_attention_add',
							user_id:user_id,
							type_id:1,
			            	item_id:item_id
						}
                    if(numValue=='1'){
                    	document.getElementById("app-detail-shouchan").setAttribute("numValue",2);                    	                                       
                    	mui.post(request_url+'api/',shouchan_data,function(data){
						    console.log(JSON.stringify(data)); 
							if(data.msg=="0"){
								mui.toast("取消收藏");
							}else{
								console.log(data.msgbox);
							}
						},'json'
						);
                    }else{
                    	document.getElementById("app-detail-shouchan").setAttribute("numValue",1);
                    	mui.post(request_url+'api/',shouchan_data,function(data){
						    console.log(JSON.stringify(data)); 
							if(data.msg=="0"){	
								mui.toast("收藏成功");
							}else{
								console.log(data.msgbox);
							}
						},'json'
						);
                    }
					
			}); 
			
			//首页跳转
			document.getElementById('app-detail-home').addEventListener("tap",function(){
			    mui.openWindow({
			    	url: '../index.html', 
			    });
			});
			//加入购物车   singular_status="";//是否可以立即跳转，1 可以， 2 不可以=>判断goods_id 不可以为；
			document.getElementById("app-detail-car").addEventListener("tap",function(){
				change_status=1;//改变状态，加入购物车
				switch(singular_status)
				{
				case 1:
                    
				    break;
				case 2:
				    goods_id=document.getElementById("app-goods_id").value; 
				    if(goods_id=='0'){				    	
				    	mui.toast("请选择相关参数");	
				    }else{				    	
				    	joinshopcar();//	加入购物车	    					    	
				    	mui.toast("加入购物车成功");
				    	mui.openWindow({
					    	url: '/shoppingcar/car.html', 
					    });
				    }
				    break;
				}
        		   
			});	
			//立即购买
			document.getElementById("app-detail-buy").addEventListener("tap",function(){
        		    change_status=2;//改变状态，立即购买
        		    goods_id=document.getElementById("app-goods_id").value;                   
                    var goods_title=document.getElementById("shop_name").innerText//标题
                    var spec_text=document.getElementById("app-select").innerText;//规格说明
                    var sell_price=document.getElementById("money").innerText;//产品单价
                    var quantity=document.getElementById("app-number").value;//数量
                    //判断是否可以直接立即购买  singular_status=1 可以 2 不可以
                    switch(singular_status)
					{
					case 1:
					    singular_status=3;
	                    vue_js_bianlian()
					    break;
					case 2:
					    goods_id=document.getElementById("app-goods_id").value; 
					    if(goods_id!='0'){				    	
					    	 vue_js_bianlian()
					    }else{
					    	mui.toast("请选择相关参数");	
					    }
					    break;
					}				   							
			});	
			//详情
		    /* document.getElementById("app-detail-info").addEventListener("click",function(){
				mui.openWindow({
			    	url: '/shop/shop_info.html', 
			    });
			});	*/
			//评论
		    document.getElementById("app-detail-pinglun").addEventListener("click",function(){
				
				dui.jump('./shop_pingjia.html','shop_pingjia',{info_article_id:article_id});
				
			});
        })
        
        //点击确认，做出相关的判断
        //  singular_status="";  是否可以立即购买，1 可以，2 不可以 
        // change_status=""; 判断跳转页面，1 购物车，2 订单	
        function vue_js_bianlian(){
        	var list = document.getElementsByClassName('mui-control-item mui-active');
        	var list_select=",";
			for(var i=0;i<list.length;i++){				
				list_select+=list[i].getAttribute("value")+",";
			}		
			for(var i=0;i<js_bianlian.length;i++){	
				if(js_bianlian[i].spec_ids==list_select){					
					document.getElementById("money").innerText = js_bianlian[i].sell_price;//添加价钱
					document.getElementById("app-quantity").innerText = js_bianlian[i].stock_quantity;//添加库存	
					document.getElementById("app-sell_price").innerText = js_bianlian[i].sell_price;//添加价格		
					document.getElementById("app-select").innerText = js_bianlian[i].spec_text;//添加价格
				    document.getElementById("app-goods_id").setAttribute("value",js_bianlian[i].goods_id);
				    document.getElementById("app-numbox-min-max").setAttribute("data-numbox-max",Number(js_bianlian[i].stock_quantity));
				    var html_select="库存: "+js_bianlian[i].stock_quantity+"";
				    document.getElementById("shop_guige_select").innerText = html_select;//添加价格
				}
			}
			
        	/*if(change_status=='1' && singular_status=='2'){
        		alert("立即收藏");
        	}else if(change_status=='2' && singular_status=='2'){
        		alert("立即购买");
        	}
        	alert(change_status);
        	alert(singular_status);*/
        	//return false;
			//change_status  判断跳转页面，1 购物车，2 订单
			//判断是否可以直接购买   singular_status=1 可以 2 不可以
			if(singular_status==2){
				goods_id=document.getElementById("app-goods_id").value; 
				if(goods_id=="0"){				
					mui.toast("请选择相关参数");return false;
				}else{
					var div1 = document.getElementById("app-detail-car");
					var div2 = document.getElementById("app-detail-buy");
		    	    div1.setAttribute("href", "javascript:;");
		    	    div2.setAttribute("href", "javascript:;");
					//mui.toast("确认");
			        switch(change_status)
					{
					case 1:
				      //加入购物车
				      joinshopcar();
				      mui.openWindow({ url: '/shoppingcar/car.html'});
					  break;
					case 2:
					  //立即购买
					  lijigoumai()
					  break;				  
					}
				}
			}else{
				switch(change_status)
				{
				case 1:
			      //加入购物车
			      joinshopcar();
			      mui.openWindow({ url: '/shoppingcar/car.html'});
				  break;
				case 2:
				  //立即购买
				  lijigoumai()
				  break;				  
				}
			}
        }        
        //加入购物车 	
        //  singular_status="";  是否可以立即跳转，1 可以，2 不可以 
        // change_status=""; 判断跳转页面，1 购物车，2 订单
		function joinshopcar(){			    
			    var quantity="1";
			    quantity=document.getElementById("app-number").value; 				     
			    goods_id=document.getElementById("app-goods_id").value; 				
			        //判断是否可以直接加入购物车  singular_status=1 可以 2 不可以
					switch(singular_status)
					{
					case 1:
					    var shop_data = {
							action: 'app_shop_car_add',
							user_id: user_id,
							article_id:article_id,
							goods_id:goods_id,
							quantity:quantity,
						}
						chekCondition(shop_data.action);
						chekCondition(shop_data.user_id);
						chekCondition(shop_data.article_id);
						chekCondition(shop_data.quantity);
					  break;
					case 2:
					    goods_id=document.getElementById("app-goods_id").value; 
					    if(goods_id=='0'){				    	
					    	mui.toast("请选择相关参数");	return false;
					    }
					    var shop_data = {
							action: 'app_shop_car_add',
							user_id: user_id,
							article_id:article_id,
							goods_id:goods_id,
							quantity:quantity,
						}	
						chekCondition(shop_data.action);
						chekCondition(shop_data.user_id);
						chekCondition(shop_data.article_id);
						chekCondition(shop_data.quantity);
					  break;
					}
			        console.log(JSON.stringify(shop_data));
			       //return false;
					mui.post(request_url+'api/',shop_data,function(data){
						if(data.msg=="1"){	
							mui.toast(data.msgbox);							
						}
					},'json'
					);
		}
		function lijigoumai(){
		    goods_id=document.getElementById("app-goods_id").value;                   
            var goods_title=document.getElementById("shop_name").innerText//标题      
            var spec_text=document.getElementById("app-select").innerText;//规格说明
            var sell_price=document.getElementById("money").innerText;//产品单价
            var quantity=document.getElementById("app-number").value;//数量
            var buyLists={
	  					datalist:[]
	  				};
	  			var data_item=new Object();
	  			
            	data_item.goods_title=goods_title;//产品名称-
            	data_item.img_url=img_url;//产品图片-
            	data_item.spec_text=spec_text;//产品的规格-
            	data_item.sell_price=sell_price;//产品的单价
            	data_item.quantity=quantity;//产品的数量-
            	data_item.article_id=article_id;//产品id
            	data_item.goods_id=goods_id;//产品详情id
		    
		    if(singular_status==3){		    	
		    	singular_status=1;return false;
		    }	
		    
            if(singular_status=="1"){
            	buyLists.datalist.push(data_item);		
            	//console.log(buyLists.datalist.length);return false;
			    if(buyLists.datalist.length>0){
			    	//console.log(JSON.stringify(buyLists));
	        		dui.jump('/shoppingcar/sure_order.html','sure_order',{order_info_content:buyLists});
			    }
            }else if(singular_status=="2"){
            	
			    if(goods_id=='0'){				    	
			    	mui.toast("请选择相关参数");	
			    }else{	
			    	data_item.goods_id=goods_id;//产品ID-
			    	buyLists.datalist.push(data_item);	
			    	if(buyLists.datalist.length>0){
	        			dui.jump('/shoppingcar/sure_order.html','sure_order',{order_info_content:buyLists});
			    	}
			    }
           }		    
		}
		//提交验证
		function chekCondition(cityResult3){
			if(cityResult3!=null && cityResult3!=undefined && cityResult3 !=''){
			    //必须参数不为空
			}else{
				mui.toast("error"); return false;
			}
		}
        //vue数据循环
        function vue_guige(){
            var goods = new Vue({
		    el: '#goods_guige',
		    data: {		        
		        
		        guiges: [
		            {
		                name: '颜色',
		                items: ['生命绿', '天空蓝', '秋收黄', '冬雪白']
		            },
		            {
		                name: '尺寸',
		                items: ['2L', '30L', '12L', '8L', '6L']
		            }
		        ]
			                
			    }
			})
        }

		
		//分享操作
		var shares = {};
		
		mui.plusReady(function() {
			plus.share.getServices(function(s) {
				if (s && s.length > 0) {
					for (var i = 0; i < s.length; i++) {
						var t = s[i];
						shares[t.id] = t;
					}
				}
			}, function() {
				console.log("获取分享服务列表失败");
			});
		});
		
		//分享链接点击事件
		document.getElementById("share").addEventListener('tap', function() {
			var ids = [{
					id: "weixin",
					ex: "WXSceneSession"
				}, {
					id: "weixin",
					ex: "WXSceneTimeline"
				}, {
					id: "qq"
				}, {
					id: "sinaweibo"
				}],
				bts = [{
					title: "微信好友"
				}, {
					title: "朋友圈"
				}, {
					title: "QQ好友"
				}, {
					title: "新浪微博"
				}];
			plus.nativeUI.actionSheet({
				cancel: "取消",
				buttons: bts
			}, function(e) {
				var i = e.index;
				if (i > 0) {
					var s_id = ids[i - 1].id;
					var share = shares[s_id];
					if (share) {
						if (share.authenticated) {
							shareMessage(share, ids[i - 1].ex);
						} else {
							share.authorize(function() {
								shareMessage(share, ids[i - 1].ex);
							}, function(e) {
								console.log("认证授权失败：" + e.code + " - " + e.message);
							});
						}
					} else {
						mui.toast("无法获取分享服务，请检查manifest.json中分享插件参数配置，并重新打包")
					}
				}
			});
		});

		function shareMessage(share, ex) {
			var msg = {
				extra: {
					scene: ex
				}
			};
			msg.href = "http://www.baidu.com";
			msg.title = "燕木头app分享测试";
			msg.content = "我正在测试app分享效果！";
			if (~share.id.indexOf('weibo')) {
				msg.content += "；测试页面：http://www.baidu.com";
			}
			msg.thumbs = ["_www/images/48x48.png"];
			share.send(msg, function() {
				console.log("分享到\"" + share.description + "\"成功！ ");
			}, function(e) {
				console.log("分享到\"" + share.description + "\"失败: " + e.code + " - " + e.message);
			});
		}
		
		
		
	</script>
	
</body>
</html>