<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />

		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />

		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.js"></script>
	</head>

	<body>
		<div class="mui-center">
			<header class="mui-bar mui-bar-nav grzx_nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">确认订单</h1>
			</header>
			<div class="shoppingcart_page" id="asd">
	
				<div class="buy_goods_goods" id="buyGoods" style="display:none">
					<div class="single" v-for="todo in todos">
						<div class="main">
							<div class="goods_img">
								<img :src="todo.imgurl" alt="">
							</div>
							<div class="goods_info">
								<p class="name">{{ todo.name }}</p>
								<p class="guige">{{ todo.guige }}</p>
								<div class="money_num">
									<p class="money">¥{{ todo.money }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="buy_goods_goods">
					<div class="single">
						<div class="main">
							<div class="goods_img">
								<img id="app-img" src="" alt="">
							</div>
							<div class="goods_info">
								<p id="app-name"class="name"> </p>
								<p id="app-guige" class="guige">  </p>
								<div class="money_num">
									<p id="app-moneny" class="money"> </p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="goods_stat">
					<span class="num">共1件商品</span>&nbsp;&nbsp;&nbsp;小计：<span id="app-money" class="money">¥{{ todos[0].money }}</span>
				</div>
	
				<form class="leave_message m-t10">
					<div class="leave_message_row">
						<label><span class="mui-icon iconfont icon-wuliu"></span>买家留言</label>
						<input id="app-message" type="text" class="" placeholder="请周六日配送，工作日没人" value="">
					</div>
				</form>
	
				<div class="goods_integral m-t10 clearfix" id="integral">
					<div id="app-kyjf" class="mui-pull-left">
						可用积分<span id="set_kyjf">{{ num_ }}</span>分
					</div>
					<div class="mui-pull-right">
						<div class="top">
							使用<input id="app-number" class="input1" type="number" v-model="num" value="" v-on:input="set_kyjf">分
							
						</div>
						<!--<div class="bottom">
			       			可用积分-{{ num }}
			       		</div>-->
					</div>
				</div>
	
				<div class="method_payment m-t10 m-b10">
					<div class="title" id="get_pay_style">
		    			选择支付方式
		    		</div>
					<!--<div class="mui-input-row mui-radio">
						<label><span class="mui-icon mui-icon-weixin"></span>微信付款</label>
						<input name="radio" type="radio" checked value="2">
					</div>
					<div class="mui-input-row mui-radio">
						<label><span class="mui-icon mui-icon-weixin"></span>支付宝付款</label>
						<input name="radio" type="radio" value="1">
					</div>-->
				</div>
	
				<div class="zw1 m-t10"></div>
				<nav class="mui-bar mui-bar-tab shoppingcart_bottom">
					<p class="payment" @click="btn">合计：<span id="app-money-sum" class="money">¥{{ (todos[0].money - num * scale).toFixed(2) }}</span></p>
					<a class="buy" href="javascript:;" v-on:click="submit_btn">提交订单</a>
				</nav>
	
			</div>
	
			<div id="yhhd_select" class="mui-popover mui-popover-action mui-popover-bottom">
				<div class="yhhd_select">
					<div class="top clearfix">
						<div class="title">
							店铺优惠
						</div>
					</div>
	
					<ul class="mui-table-view mui-table-view-radio yhhd_select_list">
						<li class="mui-table-view-cell mui-selected">
							<a class="mui-navigate-right">
								满50减20活动
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right">
								满100减50活动
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="mui-navigate-right">
								不使用优惠
							</a>
						</li>
					</ul>
					<a class="btn" href="#yhhd_select">关闭</a>
				</div>
			</div>
		</div>
		
		<script src="../js/mui.min.js"></script>
		<script src="../js/dui.js"></script>
		<script type="text/javascript">
			mui.init();
			var pays = {};
			var request_url = localStorage.getItem('kfj_request_url'); //请求地址
			var request_img_url = localStorage.getItem('kfj_img_url'); //图片路径
			var ifa_login_id = localStorage.getItem('ifa_login_id');
			var kyjf = "";
			var article_id = "";
			var order_amount = "";
			var self="";
			mui.plusReady(function() {
				self = plus.webview.currentWebview();
				//获取商品的详情，充填数据
                get_goods_datalist();                						
				//获取支付方式
                get_pay_style();
			})
			//获取商品的详情，充填数据
            function get_goods_datalist(){
            	mui.post(request_url + 'api/', {
					action: 'app_zhongchou_order_otherinfo',
					user_id: ifa_login_id
				}, function(data) {				
					if(data.msg == "1") {
						kyjf = data.kyjf;
						article_id = self.article_id;
						order_amount = self.order_amount;
						document.getElementById("app-name").innerHTML=self.title;
						document.getElementById("app-guige").innerHTML='';	
						document.getElementById("app-moneny").innerHTML=self.order_amount;
						document.getElementById("app-img").src=self.img_url;
						var data_item = {
							seen: true,
							scale: '1',
							num: '0',
							num_: data.kyjf,
							todos: []
						}
						var data_ = new Object();
						data_.article_id = self.article_id;
						data_.imgurl = self.img_url;
						data_.name = self.title;
						data_.money = self.order_amount;
						data_item.todos.push(data_);
						//document.getElementById("app-number").setAttribute("max",data.kyjf);
						//console.log(JSON.stringify(data_item));
						appVue(data_item);
					} else {
						alert(data.msgbox);
					}
				}, 'json')
            }
			// 提交表单	- 判断积分和合计价格
			function submitFrom() {
				plus.payment.getChannels(function(channels) {
					for(var i in channels) {
						var channel = channels[i];
						pays[channel.id] = channel;
					}
				}, function(e) {
					outLine('获取支付通道失败：' + e.message);
				});
				//console.log(JSON.stringify(localStorage)); 
				var dataResult = document.getElementById("app-money-sum").textContent;
				var real_amount = dataResult.substr(1, dataResult.length);

				var paymentMethod = document.getElementsByName('radio');
				var paymentMethodValue="0";
				for(var i = 0; i < paymentMethod.length; i++) {
					if(paymentMethod[i].checked) {
						paymentMethodValue = paymentMethod[i].value
					}
				}
                if(paymentMethodValue=='0'){
                	mui.toast("请选择支付方式");return false;
                }
				var arrayObj = new Array();
				arrayObj[1] = "app_order_zhongchou_save"; //action
				arrayObj[2] = localStorage.ifa_login_id; //user_id
				arrayObj[3] = paymentMethodValue; //payment_id
				arrayObj[4] = document.getElementById("app-message").value; //message
				arrayObj[5] = document.getElementById("app-number").value;//kyjf
				arrayObj[6] = article_id; //article_id	                
				arrayObj[7] = real_amount; //real_amount
				arrayObj[8] = order_amount; //order_amount
			
					
				//mui.alert(" 提交表单");	
				mui.post(request_url + 'api/', {
					action: arrayObj[1],
					user_id: arrayObj[2],
					payment_id: arrayObj[3],
					message: arrayObj[4],
					kyjf: arrayObj[5],
					article_id: arrayObj[6],
					real_amount: arrayObj[7],
					order_amount: arrayObj[8],
				}, function(data) {
					//alert(data.msg)
					if(data.msg == "1") {
						var id = '';
						var paykey="";//支付方式
						var radio=document.getElementsByName("radio");
						for(i=0;i<radio.length;i++){
							if(radio[i].checked){
								payment_id=radio[i].value;
								paykey=radio[i].getAttribute("data-paykey");
							}
						}
						console.log(paykey)
						var order = data.paystring;
						
						if(paykey=="wxpay"){
							//alipay:支付宝，wxpay:微信
							order=htmldecode(order);

						}
						plus.payment.request(pays[paykey], order, function(result) {
							//outLine('----- 支付成功 -----');
							mui.toast("支付成功，即将跳转到支付成功页面")
							mui.openWindow({
							    url: './pay_success.html', 
							});
							
						}, function(e) {
							mui.toast("支付失败，即将跳转订单详情页");
							dui.jump('../order/order_details.html','order_details',{info_id:data.order_no});

							//								outLine('----- 支付失败 -----');
							//								outLine('['+e.code+']：'+e.message);
							//plus.nativeUI.alert('更多错误信息请参考支付(Payment)规范文档：http://www.html5plus.org/#specification#/specification/Payment.html', null, '支付失败：' + e.code);
							//plus.nativeUI.alert('支付取消')
						});

						console.log(JSON.stringify(data));
					} else {
						//alert(data.msgbox);
						console.log(JSON.stringify(data));
					}
				}, 'json')
				//console.log(arrayObj);
			}
			function htmldecode(s){
			    var div = document.createElement('div');
			    div.innerHTML = s;
			    return div.innerText || div.textContent;
			}
            //vue渲染数据
			function appVue(data) {
				var goods = new Vue({
					el: '#asd',
					data: data,
					methods: {
						btn: function() {
							console.log('scale');
						},
						submit_btn: function() {
							submitFrom(); //提交表单
						},
						set_kyjf: function(){
							var num=data.num;
							var num_=data.num_;
							var numHeji=(data.todos[0].money - data.num * data.scale).toFixed(2);
							num=parseFloat(num);
							numHeji=parseFloat(numHeji);
							var resultMoneny=data.todos[0].money-num;
							if(numHeji>=0){
								
							}else{
								mui.toast("使用积分不可大于支付金额！");
								data.num=0;
							}
							console.log(num);
							console.log(num_);
							if(num==null||num==""||num==undefined){
			                    num=0;
			                }
							if(num_>=num){
								//console.log(num);								
							}else{
								mui.toast("使用积分不可大于可用积分！");
								data.num=num_;
							}						 
							if(data.todos[0].money>=num){
								//console.log(data.todos[0].money);								
							}else{
								mui.toast("使用积分不可大于支付金额！");
								data.num=data.todos[0].money;
							}	
						}
					}
				})
			}
			//获取支付方式
			function get_pay_style(){
				mui.post(request_url+'api/',{
					action: 'app_pay_list',
				},function(data){
					if(data.msg=="1"){
						datalist=data.datalist;			 
						var html="";
						for (var i=0;i<datalist.length;i++) {
							html+="<div class='mui-input-row mui-radio'>";
							
							if(datalist[i].paykey=="alipay"){
								html+="<label><span class='mui-icon iconfont icon-zhifubao'></span>"+datalist[i].title+"</label>";
								html+="<input name='radio' type='radio' value='"+datalist[i].id+"' data-paykey='"+datalist[i].paykey+"' checked>";	
							}else{
								html+="<label><span class='mui-icon mui-icon-weixin'></span>"+datalist[i].title+"</label>";
								html+="<input name='radio' type='radio' value='"+datalist[i].id+"' data-paykey='"+datalist[i].paykey+"' >";
							}
							html+="</div>";
						}						
						document.getElementById("get_pay_style").insertAdjacentHTML("afterEnd",html);
					}else{
						console.log(data.msgbox);
					}
				},'json'
				);
			}


		</script>
	</body>

</html>